<div class="container">
  <div class="left">
    <div class="picture">
      <img src="assets\images\vonz-pic.jpg" class="pic-1" alt="vonz-full-pic">
    </div>
  </div>
  <div class="right">
    <div class="about-header">
      <div class="left-about">
        <p>ABOUT VONZ</p>
        <h2>Build for Your Comfort</h2>
      </div>
      <div class="right-about">
        <h1>11+ YEARS</h1>
        <h1>of success</h1>
      </div>
    </div>
  </div>
  <div class="about-body">
    <p class="p-header">We are a team of professional and skilled experts in all domestic spheres. We offer a wide range of services and at
      the
      same time we are always glad to help you with any unconventional household needs:</p>
    <p class="p-body">We work to ensure people’s comfort at their home, and to provide the best and the fastest help at fair prices. We stand
    for quality, safety and credibility, so you could be sure about our work. Initially we started as a company specializing
    in household maintenance. During our succsuccessful work we expanded our list of services. Now we are proud that we can
    help people with welding, moving, dry cleaning, landscaping and even pest control.essful work we expanded our list of
    services. Now we are proud that we can help people with welding.</p>
    <div class="p-footer">
      <div class="service-footer">
        <i class="fa-regular fa-clock"></i>
        <p class="service">On-time Services</p>
      </div>
      <div class="service-footer">
        <i class="fa-regular fa-envelope"></i>
        <p class="service">24/7 Services</p>
      </div>
      <div class="service-footer">
        <i class="fa-solid fa-user-tie"></i>
        <p class="service">Professional</p>
      </div>
    </div>
    </div>
</div>
