.container{
  padding: 90px 80px 0px 80px;
  border: black 2px solid;
  display: grid;
  grid-template-columns: 35% 55%;
  grid-template-rows: 20% 1fr;
  justify-content: center;
  align-items: center;
  .left{
    grid-row: 1/3;

    .picture{
      justify-self: flex-start;
      .pic-1 {
          width: 400px;
          height: 550px;
        }
    }
  }

  .right{
    font-weight: bold;
    .about-header{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-left: 18px;
      border-left: 6px solid orange;
      .left-about{
        p {
            font-size: 15px;
            color: gray;
          }

          h2 {
            margin-top: 10px;
            color: black;
            font-size: 30px;
          }
      }
      .right-about{
        justify-self: flex-end;
        align-self: flex-start;
        text-align: center;
        color: orange;
        h1{
          font-weight: bold;

        }
        h3{
          text-transform: uppercase;
        }
      }

    }
  }
  .about-body{
    align-self: flex-start;
    grid-column: 2/3;
    grid-row: 2/3;
    color: gray;
    .p-header{
      margin-top: 50px;
    }
    .p-body{
      margin-top: 30px;
    }
    .p-footer{
      margin-top: 50px;
      border-top: 2px solid #ececec;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .service{
        align-self: center;
      }
    }
  }
}
