<div class="container">
  <div class="left wow animate__animated  animate__zoomInLeft" data-wow-duration="1.5s">
    <div class="picture">
      <img src="assets\images\vonz-pic.jpg" class="pic-1" alt="vonz-full-pic">
    </div>
  </div>
  <div class="right wow animate__animated animate__slideInRight" data-wow-duration="1.5s">
    <div class="about-header">
      <div class="left-about">
        <p>ABOUT VONZ</p>
        <h2>Build for Your Comfort</h2>
      </div>
      <div class="right-about">
        <h1>11+ YEARS</h1>
        <h1>of success</h1>
      </div>
    </div>
  </div>
  <div class="about-body wow animate__animated animate__slideInRight" data-wow-duration="1.5s">
    <p class="p-header">With over 11 years of experience in this field, I am a proficient and skilled expert in various domestic spheres. I offer a comprehensive range of services and I'm
    always delighted to assist you with any unique household requirements:</p>
    <p class="p-body">I strive to enhance your comfort at your home and deliver top-notch and swift assistance at reasonable rates. My core
    values are quality, safety, and trustworthiness, ensuring your confidence in my work. I initially began as a specialist
    in household maintenance, but through my successful endeavors, I've broadened my service portfolio.Over the course of 11 successful years in the industry, the journey began as a specialist in household maintenance and
    repairing appliances, of which I'm now proud to offer.</p>
    <div class="p-footer">
      <div class="service-footer">
        <i class="fa-regular fa-clock"></i>
        <p class="service">On-time Services</p>
      </div>
      <div class="service-footer">
        <i class="fa-regular fa-envelope"></i>
        <p class="service">24/7 Services</p>
      </div>
      <div class="service-footer">
        <i class="fa-solid fa-user-tie"></i>
        <p class="service">Professional</p>
      </div>
    </div>
    </div>
</div>
