<div class="container">
  <nav>
    <div class="logo animate__animated animate__slideInLeft">
      <h1>LOGO</h1>
    </div>
    <div class="openMenu"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu animate__animated animate__slideInDown">
      <li><a routerLink="services">Services</a></li>
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="contact">Contact</a></li>
      <li><a routerLink="about">About</a></li>
      <li><a routerLink="contact">BOOK NOW</a></li>
      <div class="closeMenu"><i class="fa fa-times"></i></div>
      <span class="icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-github"></i>
      </span>
    </ul>
  </nav>
</div>
