<div class="container wow animate__animated animate__backInUp" data-wow-duration="1.7s">
  <div class="our-services">
    <p>OUR SERVICES</p>
    <h2>Discover the services you'll receive</h2>
    <h2>from Vonz</h2>
  </div>
  <swiper-container autoplay="true" class="swiper-container" speed="1500" loop="true" navigation="false">
    <swiper-slide>
      <div class="service-box">
        <img src="assets/images/repair-1.jpg" alt="">
        <div class="description">
          <p class="header">Flat Screen TV</p>
          <p class="body">Minimum Pricing</p>
          <div class="learn-more">
            <button><a routerLink="about">BOOK NOW</a></button>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="service-box">
        <img src="assets/images/repair-1.jpg" alt="">
        <div class="description">
          <p class="header">Home Maintenance</p>
          <p class="body">Home Maintenance services encompass a range of tasks and repairs that help upkeep and enhance
            the
            functionality, safety,
            and aesthetics of residential properties.</p>
          <div class="learn-more">
            <button><a routerLink="about">BOOK NOW</a></button>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="service-box">
        <img src="assets/images/repair-1.jpg" alt="">
        <div class="description">
          <p class="header">Home Maintenance</p>
          <p class="body">Home Maintenance services encompass a range of tasks and repairs that help upkeep and enhance
            the
            functionality, safety,
            and aesthetics of residential properties.</p>
          <div class="learn-more">
            <button><a routerLink="about">BOOK NOW</a></button>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="service-box">
        <img src="assets/images/repair-1.jpg" alt="">
        <div class="description">
          <p class="header">Home Maintenance</p>
          <p class="body">Home Maintenance services encompass a range of tasks and repairs that help upkeep and enhance
            the
            functionality, safety,
            and aesthetics of residential properties.</p>
          <div class="learn-more">
            <button><a routerLink="about">BOOK NOW</a></button>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
