<div class="container-info animate__animated animate__slideInUp">
  <div class="box">

      <i class="fa-solid fa-thumbs-up"></i>
      <p class="header">A large number</p>
      <p class="header">of grateful customers</p>
      <p class="description">Nurturing countless delighted customers entrusting us with their maintenance needs.</p>
      <a routerLink="service"><i class="fa-solid fa-arrow-left" id="fa-link"></i>BOOK NOW</a>

  </div>
  <div class="box">

      <i class="fa-solid fa-user"></i>
      <p class="header">10 years</p>
      <p class="header">working experience</p>
      <p class="description">A decade of seasoned expertise and hands-on experience in the field.</p>
      <a routerLink="service"><i class="fa-solid fa-arrow-left" id="fa-link"></i>GO TO ABOUT</a>

  </div>
  <div class="box">

      <i class="fa-solid fa-gear"></i>
      <p class="header">A large number</p>
      <p class="header">of services offered</p>
      <p class="description">An extensive array of services tailored to meet diverse needs and demands</p>
      <a routerLink="service"><i class="fa-solid fa-arrow-left" id="fa-link"></i>GO TO SERVICES</a>

  </div>
  <div class="box">

      <i class="fa-solid fa-tags"></i>
      <p class="header">Cost-Effective</p>
      <p class="header">Pricing</p>
      <p class="description">Economical rates designed to save you money while maintaining high standards.</p>
      <a routerLink="service"><i class="fa-solid fa-arrow-left" id="fa-link"></i>GO TO SERVICES</a>

  </div>
</div>
