<div class="container">
  <div class="logo">
    <h1>LOGO</h1>
  </div>
  <div class="services">
    <nav>
      <ul class="nav">
        <li><a class="nav-services" routerLink="our-services">OUR SERVICES</a></li>
        <li><a class="nav-services" routerLink="pricing">PRICING</a></li>
        <li><a class="nav-services" routerLink="resources">RESOURCES</a></li>
        <li><a class="nav-services" routerLink="about">ABOUT</a></li>
      </ul>
    </nav>
  </div>
  <div class="book">
    <button class="button"><a class="book-services" routerLink="book-now">BOOK NOW</a></button>
  </div>
</div>
