
.container{
  display: grid;
  height: 90px;
  grid-template-columns: 10% 70% 20%;
  align-items: center;
  padding: 0 130px 0 130px;

  .services{
    display: grid;
    justify-content: center;
    .nav {
      list-style: none;

        li{
          display: inline;
          padding: 0 20px 0 20px;
          a{
            color: black;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
  }


  .book{
    display: grid;
    justify-content: flex-end;
    list-style: none;
      button
      {
        height: 50px;
        width: 170px;
        background-color: black;
        border: none;
        a{
            color: white;
            font-weight: bold;
            text-decoration: none;
          }
      }
  }
}

@media(max-width: 576px) {

}
