
<div class="container">
  <div class="left">
    <div class="info">
      <h1>On-demand Appliance Techincians</h1>
      <p>Experience Premier Service and Maintenance Solutions,</p>
      <p>where reliable and affordable technician is readily</p>
      <p>available with just one call, ready to service both homes and</p>
      <p>businesses.</p>
      <div class="learn-more">
        <button><a routerLink="about">LEARN MORE</a></button>
      </div>
    </div>
  </div>
  <div class="right">
          <div class="slider-wrapper">
            <div class="slider">
              <img id="slide-2" src="assets\images\repair-1.jpg" alt="a person fixing appliances">
              <img id="slide-1" src="assets\images\repair-3.jpg" alt="a person fixing appliances">
              <img id="slide-3" src="assets\images\repair-2.jpg" alt="a person fixing appliances">
            </div>
            <div class="slider-nav">
              <a href="#slide-2"></a>
              <a href="#slide-1"></a>
              <a href="#slide-3"></a>
            </div>
          </div>
  </div>
  <div class="container-info">
    <div class="box">
      <div class="box-info">
        <i class="fa-solid fa-thumbs-up"></i>
        <p class="header">A large number</p>
        <p class="header">of grateful customers</p>
        <p class="description">Nurturing countless delighted customers entrusting us with their maintenance needs.</p>
        <a routerLink="service"><i class="fa-solid fa-arrow-left" id="fa-link"></i>BOOK NOW</a>
      </div>
    </div>
    <div class="box">
      <div class="box-info">
        <i class="fa-solid fa-user"></i>
        <p class="header">10 years</p>
        <p class="header">working experience</p>
        <p class="description">A decade of seasoned expertise and hands-on experience in the field.</p>
          <a routerLink="service"><i class="fa-solid fa-arrow-left" id="fa-link"></i>GO TO ABOUT</a>
      </div>
    </div>
    <div class="box">
      <div class="box-info">
        <i class="fa-solid fa-gear"></i>
        <p class="header">A large number</p>
        <p class="header">of services offered</p>
        <p class="description">An extensive array of services tailored to meet diverse needs and demands</p>
        <a routerLink="service"><i class="fa-solid fa-arrow-left" id="fa-link"></i>GO TO SERVICES</a>
      </div>
    </div>
    <div class="box">
      <div class="box-info">
        <i class="fa-solid fa-tags"></i>
        <p class="header">Cost-Effective</p>
        <p class="header">Pricing</p>
        <p class="description">Economical rates designed to save you money while maintaining high standards.</p>
        <a routerLink="service"><i class="fa-solid fa-arrow-left" id="fa-link"></i>GO TO SERVICES</a>
      </div>
    </div>
  </div>
</div>
