<div class="container">
  <div class="left">
    <div class="info">
      <h1>On-demand Appliance Techincians</h1>
      <p>Welcome to our Service & Maintenance Website,</p>
      <p>where reliable and affordable technicians are readily</p>
      <p>available with just one call, ready to service both homes and</p>
      <p>businesses.</p>
      <div class="learn-more">
        <button><a routerLink="about">LEARN MORE</a></button>
      </div>
    </div>
  </div>
  <div class="right">
          <div class="slider-wrapper">
            <div class="slider">
              <img id="slide-2" src="assets\images\repair-1.jpg" alt="a person fixing appliances">
              <img id="slide-1" src="assets\images\repair-3.jpg" alt="a person fixing appliances">
              <img id="slide-3" src="assets\images\repair-2.jpg" alt="a person fixing appliances">
            </div>
            <div class="slider-nav">
              <a href="#slide-2"></a>
              <a href="#slide-1"></a>
              <a href="#slide-3"></a>
            </div>
          </div>
  </div>
  <div class="services">
      <div class="services-box">
        <a routerLink="services"><img src="assets\images\tv.png" alt=""></a>
        <p>TELEVISION</p>
      </div>
      <div class="services-box">
        <a routerLink="services"><img src="assets\images\wmachine.png" alt=""></a>
        <p>WASHING MACHINE</p>
      </div>
      <div class="services-box">
        <a routerLink="services"><img src="assets\images\fan.png" alt=""></a>
        <p>CEILING FAN</p>
      </div>
      <div class="services-box">
        <a routerLink="services"><img src="assets\images\bulb.png" alt=""></a>
        <p>OUTLET/SWITCH</p>
      </div>
      <div class="services-box">
        <a routerLink="services"><img src="assets\images\dryer.png" alt=""></a>
        <p>DRYER</p>
      </div>
      <div class="services-box">
        <a routerLink="services"><img src="assets\images\oven.png" alt=""></a>
        <p>MICROWAVE</p>
      </div>
      <div class="services-box">
        <a routerLink="services"><img src="assets\images\cmaker.png" alt=""></a>
        <p>COFFEE MAKER</p>
      </div>
      <div class="services-box">
        <a routerLink="services"><img src="assets\images\others.png" alt=""></a>
        <p>OTHERS</p>
      </div>
  </div>
</div>
