<div class="container">
  <div class="left">
    <div class="info">
      <h1>On-demand Appliance Techincians</h1>
      <p>Welcome to our Service & Maintenance Website,</p>
      <p>where reliable and affordable technicians are readily</p>
      <p>available with just one call, ready to service both homes and</p>
      <p>businesses.</p>
      <div class="learn-more">
        <button><a routerLink="about">LEARN MORE</a></button>
      </div>
    </div>
  </div>
  <div class="right">
          <div class="slider-wrapper">
            <div class="slider">
              <img id="slide-2" src="assets\images\repair-1.jpg" alt="a person fixing appliances">
              <img id="slide-1" src="assets\images\repair-3.jpg" alt="a person fixing appliances">
              <img id="slide-3" src="assets\images\repair-2.jpg" alt="a person fixing appliances">
            </div>
            <div class="slider-nav">
              <a href="#slide-2"></a>
              <a href="#slide-1"></a>
              <a href="#slide-3"></a>
            </div>
          </div>
  </div>
  <div class="services">
      <div class="services-box">
        <i class="fa-solid fa-tv"></i>
      </div>
      <div class="services-box">

      </div>
      <div class="services-box">

      </div>
      <div class="services-box">

      </div>
      <div class="services-box">

      </div>
      <div class="services-box">

      </div>
      <div class="services-box">

      </div>
      <div class="services-box">

      </div>
  </div>
</div>
