.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80% 20%;
  padding: 0 130px 0 130px;
  height: 88.5vh;

  .left{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    .info{
      h1{
          font-weight: bold;
          font-size: 50px;
        }
      p{
        color: gray;
        font-size: 20px;
        margin-top: 12px;
       }
       .learn-more{
        margin-top: 20px;
        button{
          background-color: white;
          height: 60px;
          width: 150px;
          border: 3px solid black
        }

          a {
            font-weight: bold;
            font-size: 15px;
            text-decoration: none;
            color: black;
          }
      }
    }
  }
}
